.appItem_container {
  background-color: white;
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.image_container {
  height: 50px;
}
